<main id="content">
    <header>
       <div class="header-container">
           <h1>TODO  App</h1>
       </div>  
    </header>
    <div>
    <!-- using the post method  -->
    <form action="/create-task" method="POST">
        <!-- Adding form inputs which need to be send to the database -->
        <div class="desc-container">
            <div class="desc-heading">
                <h2 style="cursor: pointer;">DESCRIPTION</h2>
            </div>
            <div class="desc-content">
                <!-- input tag for getting the input from user -->
                <input type="text"  name="desc" placeholder="what do you need to do" required style="
                height: 4.5vh;
                width: 99.6%;">
            </div>
        </div>
        <!-- styling for CATEGORY using html and css  -->
        <div class="category-container">
            <div class="category-content">
                <h2 style="cursor: pointer;">CATEGORY</h2>
                 <div class="input">
                     <!-- select for getting the option list dropdown -->
                    <select name="category" placeholder="choose a category" required style="
                    border-style: none;
                    width: 33vw;
                    height: 4.5vh;">
                    <!-- options that we want to show on the list -->
                        <option value="school">School</option>
                        <option value="personal">Personal</option>
                        <option value="home">Home</option>
                        <option value="work">Work</option>
                        <option value="other">Other</option>
                    </select>
                </div>
            </div>
        </div>
         <!-- styling for DATE using html and css -->
        <div class="date-container">
            <div class="date-content">
                <h2 style="cursor: pointer;">DATE</h2>
                 <div class="input">
                <!-- Specifying the type="date" so as to show the dates calender -->
                <input type="date"  name="date" placeholder="dd-mm-yyyy" required style="
                border-style: none;
                width: 35.4vw;
                height: 4.5vh;
                "> 
            </div>
            </div>
        </div>
        <!-- button for submit the task and deleting the task which is selected in checkbox -->
      <div class="button"> 
            <button type="submit" style="cursor: pointer;"> 
                <i class="fas fa-plus-circle"></i>
                Add task
            </button>
            <!-- Here form="delete-form" specify that this button is linked to the form having id="delete-form" -->
            <button type="submit" form="delete-form" style="cursor: pointer;"> 
                <i  class="fas fa-trash-alt"></i>
                Delete
            </button>    
      </div>          
    </form>
</div>
        
<!--  for deleting the tasks which is selected in checkbox list and we can delete multiple tasks using this(using id="delete-form")  -->
<form action="/delete-task" method="POST" id="delete-form" name="delete-task" >
    <div id="todo-list-container">
        <ul>
            <!-- Here todo_List is the object key name that is having value = db schema -->
            <% for(let i of todo_List) { %>
               <li class="todo" style="list-style: none;">
                  <!-- checkbox list  -->
                  <input type="checkbox" name="<%= i.id %>" style="cursor: pointer; margin-top: 3vh;"  >
                  <div class="details">
                       <!-- for getting the input which is added by the user and print it in the checkbox list -->
                       <div class="DESC-CONTAINER">
                           <p><%= i.desc %></p>
                          
                         <!-- Now to show the date below the task -->
                             
                            <p class="DATE-CONTAINER"> 
                               
                                <i class="far fa-calendar-alt" style="margin-right: 0.2vw;"></i>
                                <%=  i.date %>   
                            </p>
                       </div>
                        <!--  For showing the category aside of task  -->
                        <div class="CATEGORY-CONTAINER">
                            <div>
                                <div><%= i.category %></div>
                            </div>    
                        </div>        
                        
                  </div> 
                        
                </li>
            <%  } %>
        </ul>
    </div>
</form>
    

       
       </main> 
<script type="text/javascript"  src="/js/home.js"></script>