<main>
    <div id="content">
        <div class="header-container">
            <h1>TODO  App</h1>
        </div>
        <div id="description">
            <!-- using the post method so as to post the data on the database -->
            <form action="/create-task" method="POST" id="create-form">
                <!-- Adding form inputs which need to be send to the database -->
                <label>DESCRIPTION</label>
                <br/>
                <!-- input tag for getting the input from user -->
                <input type="text"  name="desc" placeholder="what do you need to do" required>
        </div>
        <div class="middle">
            <!-- styling for CATEGORY using html and css  -->
            <div class="category-container">
                    <label style="cursor: pointer;">CATEGORY</label>
                    <!-- select for getting the option list dropdown -->
                    <select name="category" placeholder="choose a category" required>
                        <!-- options that we want to show on the list -->
                        <option value="choose a category" selected>choose a category</option>
                        <option value="school">School</option>
                        <option value="personal">Personal</option>
                        <option value="home">Home</option>
                        <option value="work">Work</option>
                        <option value="other">Other</option>
                    </select>
            </div>
            <!-- styling for DATE using html and css -->
            <div class="date-container">
                    <label style="cursor: pointer;">DATE</label>
                    <!-- Specifying the type="date" so as to show the dates calender -->
                    <input type="date"  name="date" placeholder="dd-mm-yyyy" required> 
                </form>
            </div>
        </div>
        <!-- button for submit the task and deleting the task which is selected in checkbox -->
        <div class="button"> 
            <button type="submit" form="create-form" class="btn"> 
                <i class="fas fa-plus-circle"></i>
                Add task
            </button>
            <!-- Here form="delete-form" specify that this button is linked to the form having id="delete-form" -->
            <button type="submit" form="delete-form" class="btn"> 
                <i  class="fas fa-trash-alt"></i>
                Delete
            </button>    
        </div>          
    </div>    
    <!--  for deleting the tasks which is selected in checkbox list and we can delete multiple tasks using this(using id="delete-form")  -->
    <form action="/delete-task" method="POST" id="delete-form" name="delete-task">
        <div id="todo-list-container">
            <ul>
                <!-- Here todo_List is the object key name that is having value = db schema -->
                <% for(let i of todo_List) { %>
                    <li class="todo" style="list-style: none;">
                        <!-- checkbox list  -->
                        <input type="checkbox" name="<%= i.id %>" style="cursor: pointer; margin-top: 3vh;"  >
                        <div class="details">
                            <!-- for getting the input which is added by the user and print it in the checkbox list -->
                            <div class="description-todo">
                                <p><%= i.desc %></p>
                                <!-- Now to show the date below the task -->
                                <p class="date-container-todo"> 
                                    <i class="far fa-calendar-alt" style="margin-right: 0.2vw;"></i>
                                    <span><%=  i.date %> </span>  
                                </p>
                            </div>
                            <!--  For showing the category aside of task  -->
                            <div class="category-container-todo">
                                <div><%= i.category %></div>
                            </div>          
                        </div>      
                    </li>
                <%  } %>
            </ul>
        </div>
    </form> 
</main>
